.header {
  background-color: $secendary;
  height: 66px;
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 99999;
  width: 100%;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  .brand {
    width: 150px;
    height: 37px;
  }

  &-nav {
    position: relative;

    & > .btn,
    .close-btn {
      display: none;
    }
    @media screen and (max-width: $lg) {
      position: fixed;
      width: 280px;
      top: 66px;
      left: 0;
      background-color: $secendary;
      height: 100vh;
      z-index: 99;
      transition: 0.5s;
      margin-left: -380px;

      &.show {
        margin-left: 0;
      }

      & > .btn {
        display: flex;
        margin: 0 40px;
      }

      .close-btn {
        display: flex;
        background-color: transparent;
        color: $color-text;
        position: absolute;
        top: 10px;
        right: -10px;
        transform: translateX(100%);
        font-size: 28px;
        border: $border;
        border-radius: 2rem;
        padding: 5px;
      }
    }

    &-menu {
      display: flex;
      gap: 30px;

      @media screen and (max-width: $lg) {
        flex-direction: column;
        padding: 40px;
      }

      a {
        color: $white;
        text-transform: uppercase;
        transition: 0.4s;
        position: relative;

        &::after {
          content: "";
          width: 100%;
          height: 2px;
          border-radius: 2px;
          background-color: $primary;
          position: absolute;
          bottom: -5px;
          left: 0;
          transition: 1s;
          transform-origin: center;
          transform: scaleX(0);
        }

        &:hover,
        &.active {
          color: $primary;

          &::after {
            transform: scaleX(1);
          }
        }
      }
    }
  }

  .extra {
    display: flex;
    gap: 10px;
    align-items: center;

    button.search-btn {
      height: 40px;
      width: 40px;
      border: $border-frem;
      border-radius: 2rem;
      background-color: transparent;
      color: $primary;
      font-size: 14px;
      font-size: 18px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .toggle-btn {
      display: none;
    }

    @media screen and (max-width: $lg) {
      & > .btn {
        display: none;
      }

      .toggle-btn {
        display: flex;
        border: none;
        background-color: transparent;
        color: $primary;
        font-size: 28px;
      }
    }
  }
}

// footer

.footer {
  background-image: url(https://script.viserlab.com/playlab/demo/assets/images/frontend/basic_footer/63fa0dfb407711677331963.jpg);
  position: relative;
  padding-top: 66px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: 1;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: linear-gradient(
      to bottom,
      rgba(230, 230, 230, 0) 11%,
      rgba(228, 226, 226, 0) 12%,
      #121621 100%
    );
  }

  &::before {
    content: "";
    position: absolute;
    background: #131722;
    opacity: 0.7;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
  }

  &-top {
    border-bottom: $border;
    padding: 10px;

    .brand {
      width: 140px;
      display: block;
    }
  }

  &-body {
    display: flex;
    gap: 30px;
    color: $white;
    padding: 20px 0;

    @media screen and (max-width: $sm) {
      flex-direction: column;
      gap: 10px;
    }

    &-left,
    &-right {
      width: 100%;
      padding: 20px 0;
      max-width: 400px;

      strong {
        font-size: 16px;
        text-transform: uppercase;
        padding-bottom: 20px;
        display: block;
      }

      p {
        font-size: 16px;
        text-align: justify;
      }
    }
  }

  &-menu {
    display: flex;
    flex-direction: column;
    gap: 8px;

    a {
      color: $white;
      font-size: 16px;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &-bottom {
    padding: 10px 0;
    border-top: $border;

    p {
      font-size: 16px;
      color: $white;

      span {
        color: $primary;
      }

      a {
        color: #626eff;
      }
    }
  }
}
